
\.vscode/settings\.json

\.idea/workspace\.xml

\.vscode/

\.idea/

houdini/study_houdini/backup/

houdini/HoudiniEngineForUnity/backup/

Python/tensorflow/projector/projector/

clion/cmake-build-debug